<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.practice2Ver1.boardAdvance.dao.BoardAdvanceDAO">
<select id="getAllViewCnt" parameterType="hashmap" resultType="int">
<choose>
	<when test="searchKeyword ='total'">
		<choose>
			<when test="searchWord = ''">
				SELECT 
						COUNT(*)
				FROM 
						MAIN_BOARD
			</when>
			<otherwise>
			SELECT 
					COUNT(*)
			FROM 
					MAIN_BOARD
			WHERE
					SUBJECT LIKE CONCAT('%',#{searchWord}, '%') OR
					WRTIER LIKE CONCAT('%', #{serachWord}, '%')
			</otherwise>	
		</choose>
	</when>
	<otherwise>
	 SELECT
	 		COUNT(*)
	FROM
			MAIN_BOARD
	WHERE 
			<if test="searchKeyword.equals('subject')">
			 SUBJECT LIKE CONCAT('%', #{searchWord}, '%')
			</if>
			<if test="searchKeyword.equals('writer')">
			WRITER LIKE CONCAT('%', #{searchWord}, '%')
			</if>
	</otherwise>
</choose>
</select>

<select id="getBoardList" parameterType="hashmap" resultType="MainBoardDTO">
 	<choose>
 		<when test="searchKeyword.equals('total')">
 			<choose>
 			<when test="searchWord.eqals('')">
 				SELECT
 						*
				FROM
						MAIN_BOARD
				ORDER_BY
						ENROLL_AT DESC
				LIMIT
						#{startBoardIdx},#{onePageViewCnt}
 			</when>
 			<otherwise>
 				SELECT 
 						*
				FROM
						MAIN_BOARD
				WHERE 
						SUBJECT LIKE CONCAT('%', #{searchWord}, '%') OR
						WIRTER LIKE CONCAT('%', #{searchWord}, '%')
				ORDER_BY
						ENROLL_AT DESC
				LIMIT
						#{startBoardIdx},#{onePageViewCnt}
 				</otherwise>
 			</choose>
 		</when>
 		<otherwise>
 			 SELECT 
 			 		*
	 		 FROM MAIN_BOARD
	 		 WHERE
		 		 <if test="searchKeyword.equals('subject')">
		 		 		SUBJECT LIKE CONCAT('%', #{searchKeyword}, '%')
		 		 </if>
		 		 <if test="searchKeyword.equals('writer')">
		 		 	WRITER LIKE CONCAT('%', #{searchWord}, '%')
		 		 </if>
	 		 ORDER_BY 
	 		 		ENROLL_AT DESC
	 		LIMIT
	 				#{startBoardIdx},#{onePageViewCnt}
 			</otherwise>
 	</choose>
</select>

<insert id="createBoard" parameterType="MainboardDTO">
INSERT INTO MAIN_BOARD(
	WRITER,
	SUBJECT,
	PASSWD,
	CONTENT
)
VALUES(
	#{writer},
	#{subject},
	#{passwd},
	#{content}
)

</insert>


</mapper>